body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  min-width: 340px;
  width: 100%;
}

#header {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  background-color: rgb(33, 30, 57);
  align-items: center;
}

.logo h1 {
  font-size: 25px;
  color: white;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: row;
}

#calc-panel {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 30%;
  background-color: rgb(236, 236, 236);
  height: 100vh;
  margin-top: 50px;
  z-index: 1;
}

#options-panel {
  display: flex;
  height: 55px;
  border-bottom: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173);
}

#exp-list {
  display: flex;
  height: 100vh;
  background-color: white;
  border-right: 2px solid rgb(212, 212, 212);
}

#graphing-panel {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  min-width: 20px;
  height: 100vh;
  background-color: white;
}

#zoom-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  right: 5px;
}

.btn {
  position: relative;
  border: 1px solid rgb(215, 215, 215);
  font-weight: bold;
  color: rgb(89, 89, 89);
  background-color: rgb(236, 236, 236);
  font-size: 20px;
  padding: 8px 10px;
}

.btn .tag {
  
  font-weight: normal;
  position: absolute;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 7px 8px 7px 8px;
  border-radius: 4px;
  font-size: 13px;

  right: 45px;
  opacity: 0;
  transition: opacity 0.16s ease-in 0.5s;
  pointer-events: none;
  white-space: nowrap;
}
.btn:hover .tag {
  opacity: 1;
}

.btn:hover{
  color: rgb(28, 28, 28);
  cursor: pointer;
}

.btn:active {
  background-color: rgb(227, 227, 227);
}

#zoom-in {
  border-radius: 5px 5px 0 0;
}

#zoom-out {
  border-radius: 0 0 5px 5px;
}

#home {
  margin-top: 10px;
  border-radius: 5px;
}

.inputs-div {
  width: 100%;
  display: flex;
}

.input-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

.toggle-graph {
  width: 40px;
  background-color: rgb(52, 118, 233);
}

.equation {
  padding-left: 16px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgb(212, 212, 212);
  
}

.equation:focus {
  outline: 1px solid rgb(52, 118, 233);
  outline-offset: -1px;
}

